@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 220; /* Light beige */
  --background-mid-rgb: 250, 250, 230;  /* Mid-beige */
  --background-end-rgb: 255, 255, 240;  /* Cream */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 33, 33; /* Dark gray */
    --background-mid-rgb: 44, 44, 44;   /* Mid-dark gray */
    --background-end-rgb: 66, 66, 66;   /* Lighter dark gray */
  }
}

html, body, #__next {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 1),
    rgba(var(--background-mid-rgb), 1),
    rgba(var(--background-end-rgb), 1)
  );
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
